<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="frmfornhvhc.Properties.Settings.Quan_li_tieu_chuan_QNConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Quan_li_tieu_chuan_QN;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>